//
// Footer
// ===================================================

.footer  
  background #111 
  color #ddd 
  clear both 
  padding ($space / 2) 
  text-align center 

  p  
    font-size 1.4rem 
    margin 0 
    
  a,
  b   
    color #fff   

  a  
    font-weight bold 

    &:hover   
      text-decoration underline   
    
  .icon-love   
    color #FF0000   
 
