//
// Body
// ===================================================

html 
  font-size 62.5%
  

body 
  color #222 
  background #fff 
  font-size 1.8rem 
  line-height 2.5rem
  font-family helvetica, arial 
 
 