//  
// Helpers
//
// 1. Center, horizontal and vertical
// 2. Clearfix 
// 3. Reset list styles
// 4. Hidden
//
// ===============================================================

//
// 1. Center, horizontal and vertical
// -----------------------------------

$center($arg = "")
  position absolute
  
  if ($arg == top)
    top 50%
    transform translateY(-50%)
  else if ($arg == full)
    top 50%
    left 50%
    transform translate(-50%,-50%)
  else
    left 50%
    transform translateX(-50%)


//
// 2. Clearfix
// --------------------------------

$clearfix 
  &:before,
  &:after
    content " " 
    display table 

  &:after
    clear both 

 
//
// 3. Reset list styles
// --------------------------------------------------

$list-unstyled 
  margin-bottom 0
  padding-left 0
  list-style none

 
//
// 4. Hidden
// --------------------------------------------------

$hidden 
  visibility hidden
  font-size 0
  display none 
