//
// Body
// -------------------------

body {
  color: #222;
  background: #fff;
  font-size: 18px;
  line-height: 25px;
  font-family: helvetica, arial;
}


.hidden {
  display: none!important;
  visibility: hidden;
}